


.form {

background-color: #3ad886;
width: 66%;
border-radius: 15px;
margin-top: 30px;
}

.form p {
  text-align: left;
  padding-left: 10%;
}

.form input {
  width: 80%;
  
}

.form button {
  margin: 8%;
  background-color: #ed6b5a;
  padding: 10px 8px;
  font-size: 15px;
  border-radius: 10px;
}
