.product {
width:66%;
  display: flex;
  border-radius: 20px;
  background-color: #D34735;
  /* margin-right: 10%; */
  margin: auto;
  margin-top: 30px;

}

.product * {
  /* margin: 15px; */
  padding:3%;
}

.product img {
  width: 50%;
  height: 50%;
  max-height: 300px;
  max-width: 400px;
}



.product button {
  background-color: #3AD886;
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  font-size: 16px;
}

.col2 {
width: 50%;
}
